.images{
	display: flex;
	justify-content: center ;
	justify-content: space-between;
	}

	.love{
	text-align: center;
}
.google{
margin-left: 200px;
}
.eye{

}
.content{
margin-right: 200px;
}

h3{
	font-weight: bold ;
	font:roboto ;
	margin-right: 30px;
}